.listings {
    padding-left: 0px;
    list-style: none;
}

.add-item-listing > label,
.add-item-listing > input {
    margin-right: 10px;
}

.error, input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.input-error-text {
    color: red;
}