<div class="component">
    <h3 class="heading-3">All Items</h3>
    <ul class="listings">
        <li *ngFor="let listing of listings" class="listings-item">
            <button [routerLink]="['listings', listing.id]" class="btn-primary mb-5">
                {{listing.name}}
            </button>
        </li>
    </ul>
    <h3 class="heading-3">Add an item yourself!</h3>
    <div class="add-item-listing">
        <label class="mb-5" for="inputListingName">Name of Item</label>
        <input
        [ngClass]="{error: inputError}"
        [(ngModel)]="inputListingName" 
        id="inputListingName" type="text">
        <button (click)="onAddItem()" class="add-item-listing-button btn-primary">Add</button>
        <p class="input-error-text" *ngIf="inputError">Invalid name.</p>
    </div>
</div>