button {
    padding: .3rem .5rem;
    border-radius: 3px;
    border: none;
    font: medium;
    font-weight: bolder;
}

.listings {
    padding-left: 0px;
    list-style: none;
}

.add-item-listing > label,
.add-item-listing > input {
    margin-right: 10px;
}

.error {
    border: 1px solid red;
}

.input-error-text {
    color: red;
}