/* You can add global styles to this file, and also import other style files */

.component,
section {
	border: 1px solid #ccc;
	padding: 10px 20px;
}

.heading-3 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mb-5 {
	margin-bottom: 5px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mr-10 {
	margin-right: 10px;
}

.btn-primary {
	color: black;
	background-color: #ccc;
	padding: .5rem 1rem;
	border-radius: 3px;
	font-weight: bolder;
	border: none;
}

.btn-primary:focus {
	outline: none;
}

.btn-primary:hover:enabled {
	cursor: pointer;
	color: white;
	background-color: black;
	transition: all .3s;
}

.btn-primary:disabled {
    background-color: #ccc;
    color: grey;
}